body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-image: url("./assets/background.jpg");
  margin-top: 3rem;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

h1 {
  background: linear-gradient(
    to right,
    #ff4c4c,
    #ffb84d,
    #ffff66,
    #66ff66,
    #4d99ff,
    #cc66ff,
    #ff66cc
  );

  -webkit-background-clip: text;
  color: transparent;
  animation: float 3s ease-in-out infinite;
}

#colorBox {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: 0 auto;
}

.color-option {
  width: 80px;
  height: 80px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #fff;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

#gameStatus {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

#score {
  font-size: 24px;
  margin-top: 10px;
}

#newGameButton {
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    #ff6f61,
    #ff9966,
    #ffcc66,
    #99ff66,
    #66ffcc,
    #6699ff,
    #9966ff,
    #ff66cc
  );
  background-size: 400% 400%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  outline: none;
}

/* Hover Effect */
#newGameButton:hover {
  background-position: 100% 100%;
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Active Effect */
#newGameButton:active {
  transform: scale(1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Focus Effect */
#newGameButton:focus {
  box-shadow: 0 0 10px rgba(0, 150, 255, 0.8);
}

/* Animations */
.correct {
  animation: fadeIn 1s ease-in-out;
  color: rgb(67, 255, 67);
}

.wrong {
  animation: fadeOut 1s ease-in-out;
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  #colorBox {
    width: 150px;
    height: 150px;
  }

  .color-option {
    width: 60px;
    height: 60px;
  }

  #score,
  #gameStatus {
    font-size: 18px;
  }
}
